@model RegisterViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easy Meeting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style-form">
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url(~/image/Meeting.jpg)">
            <div class="wrap-login100">
                <form asp-controller="Account" asp-action="Register" class="login100-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title">
                        Sign Up
                    </span>

                    <div class="wrap-input100">
                        <input asp-for="Email" class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100">
                        <input asp-for="Password" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="wrap-input100" data-validate="Enter password">
                        <input asp-for="PasswordConfirm" class="input100" type="password" name="confpass" placeholder="Confirm password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>

                    <div class="text-center">
                        <a class="txt1" asp-controller="Account" asp-action="Login">
                            Sign In!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>