@model RegisterViewModel
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-client_id" content="414567214016-bqfl1fa8eq2es0srpv9p1mtt5arh7chp.apps.googleusercontent.com">
        <title>Easy Meeting</title>
        <link rel="stylesheet" href="~/css/style-form.css">
        <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body class="container">
        <form method="post" asp-controller="Account" asp-action="Register" class="login">
            <div>
                <h1 class="login-title">Easy Meeting</h1>
            </div>
            <div class="login-email">
                <h2 asp-validation-for="Email">Email</h2>
                <input asp-for="Email" class="input-ep">
            </div>
            <div class="login-password">
                <h2 asp-validation-for="Password">Password</h2>
                <input  asp-for="Password" class="input-ep" type="password">
            </div>
            <div class="login-password">
                <h2 asp-validation-for="PasswordConfirm">Confirm password</h2>
                <input asp-for="PasswordConfirm" class="input-ep">
            </div>
            <div class="sign-in">
                <ul>
                    <li><input type="submit" value="Sign Up" /></li>
                    <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
                </ul>
            </div>
        </form>
    </body>
</html>