@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easy Meeting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Account/fonts/iconic/css/material-design-iconic-font.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/Account/style-form.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url(https://sherpany-live-6162453463ab4ff6a0c805d0-9921883.aldryn-media.com/filer_public_thumbnails/filer_public/dc/13/dc139f14-ca43-4f1f-915d-0d6143825f9f/effective-meetings-with-agile-meeting-management.jpg__840x620_q90_crop_subsampling-2.jpg)">
            <div class="wrap-login100">
                <form method="post" asp-controller="Account" asp-action="Register" class="login100-form">
                    <span class="login100-form-logo">
                        <img src="~/img/default.png" />
                    </span>

                    <span class="login100-form-title">
                        Sign Up
                    </span>

                    <div class="wrap-input100">
                        <input asp-for="Email" class="input100" type="text" name="email" placeholder="Email">
                        <span asp-validation-for="Email" class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100">
                        <input asp-for="Password" class="input100" type="password" placeholder="Password">
                        <span asp-validation-for="Password" class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="wrap-input100">
                        <input asp-for="PasswordConfirm" class="input100" type="password" placeholder="Confirm password">
                        <span asp-validation-for="PasswordConfirm" class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Sign Up</button>
                    </div>

                    <div class="text-center">
                        <a class="txt1" asp-controller="Account" asp-action="Login">
                            Sign In!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>