@model EventViewModel
    <form method="post" asp-controller="Event" asp-action="Event">
        <input id="title" type="text" asp-for="Title" />
        <input id="start" type="datetime-local" asp-for="Start" />
        <input id="end" type="datetime-local" asp-for="End" />
        <input id="duration" type="number" asp-for="Duration" />
        <input id="address" type="text" asp-for="Place" />
        <input id="description" type="text" asp-for="Note" />
        <input id="email" type="text" asp-for="Emails" />

        <button type="submit" id="button">Generate</button>

        <input id="calendar" type="text" readonly asp-for="Link" />

        <script src="~/js/event.js"></script>
        <script src="~/js/calendar.js"></script>
    </form>