@model Meeting

<input id="title" type="text" />
<input id="start" type="datetime-local" />
<input id="end" type="datetime-local" />
<input id="duration" type="number" />
<input id="address" type="text" />
<input id="description" type="text" />

<button id="button">Generate</button>

<input id="calendar" type="text" readonly />

<script src="~/js/event.js"></script>
<script src="~/js/calendar.js"></script>