@model EventViewModel

<input asp-for="Title" id="title" type="text" />
<input asp-for="Start" id="start" type="datetime-local" />
<input asp-for="End" id="end" type="datetime-local" />
<input asp-for="Duration" id="duration" type="number" />
<input asp-for="Address" id="address" type="text" />
<input asp-for="Description" id="description" type="text" />

<button type="button" id="button">Generate</button>

<input id="calendar" type="text" readonly />

<script src="~/js/event.js"></script>
<script src="~/js/calendar.js"></script>