<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Easy Meeting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style-home.css" />
</head>
<body>  
    <header>
        <div class="header">
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li style="display: inline; margin-right: 5px;"><p>@User.Identity.Name</p></li>

                    <li style="display: inline; margin-right: 5px;">
                        <form style="display: inline; margin-right: 5px;" method="post" asp-controller="Account" asp-action="Logout">
                            <input style="display: inline; margin-right: 5px;" type="submit" value="Logout" />
                        </form>
                    </li>
                }
                else
                {
                    <li style="display: inline; margin-right: 5px;"><a asp-controller="Account" asp-action="Login">Sign in</a></li>
                    <li style="display: inline; margin-right: 5px;"><a asp-controller="Account" asp-action="Register">Sign up</a></li>
                }
            </ul>
        </div>
    </header>
    <div class="main">
        <h1>Easy Meeting</h1>
        <div class="content">
            <div class="links samples">
                <a asp-controller="Calendar" asp-action="Calendar">calendar</a>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Easy Meeting - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
