<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Easy Meeting</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style-home.css" />
</head>
<body>  
    <header class="header">
        <div class="container">
            <div class="nav">
                <ul class="menu">
                    <li><a class="ab">About</a></li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul>
                        <li>
                            <form style="text-align: end;" asp-controller="Account" asp-action="Logout">
                                <input style="display: inline; margin-right: 5px;" type="submit" value="Logout" />
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Sign in</a>
                }
            </div>
            <div class="offer">
                <h1>Easy Meeting</h1>
                <a asp-controller="Event" asp-action="Event" class="btn">Get started!</a>
            </div>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-text">
                <p>©2020 - Easy Meeting</p>
                <a href="https://www.linkedin.com/in/egor-kliutsuk/">Egor Kliutsuk</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
