@{
    ViewData["Title"] = "Home Page";
}
<div class="main">
    <h1>Easy Meeting</h1>
    <div class="links samples">
         <a asp-controller="Event" asp-action="Event">meeting</a>
    </div>
</div>