.container{
    width: 1280px auto;
    height: 720px auto;
    justify-content: center;
    display: block;
    font-family: 'Piedra', cursive;
}

a{
    text-decoration: none;
}

input{
    border: 2px solid ;
    display: block;
    border-radius: 25px;
    margin: auto;
    font-size: 22px;
}

h2{
    margin-bottom: 5px;
}

.login{
    text-align: center;
    display: block;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    margin: auto;
    width: 360px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.login-title{
    color: black;
    text-align: center;
}

.login-email{
    display: block;
    border-radius: 25px;
    margin-bottom: 10px;
}

.login-password{
    display: block;
    border-radius: 25px;
    margin-bottom: 10px;
}

.sign-in ul{
    padding: 0%;
}

.sign-in li{
    text-decoration: none;
    display: inline;
    font-size: 24px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid;
    border-radius: 15px;
}